h4.svelte-108px9u span:where(.svelte-108px9u){animation:svelte-108px9u-rotate 1s infinite ease-in-out}@keyframes svelte-108px9u-rotate{0%{transform:rotate(0)}50%{transform:rotate(180deg)}to{transform:rotate(360deg)}}
